:root {
    --font: monospace;
    --color-text: rgb(171, 178, 191);
    --color-background: rgb(21, 24, 28);
    --color-card-background: #565656;
    --color-card-content-background: rgb(40, 44, 52);
    --color-code-background: rgb(40, 44, 52);
    --color-code-text: rgb(171, 178, 191);
    --card-shadow: rgba(9, 30, 66, .25) 0 4px 8px -2px, rgba(9, 30, 66, .08) 0 0 0 1px;
    --card-padding: 1px;
    --card-content-radius: 6px;
}